@model ICollection<MvcDemo.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <table class="table table-bordered table-hover table-secondary" >
            <thead>
                <tr>
                    <th>ProductID</th>
                    <th>Name</th>
                    <th>Color</th>
                    <th>ListPrice</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                <tr>
                    <td>@p.ProductID</td>
                    <td>@p.Name</td>
                    <td>@p.Color</td>
                    <td>@p.ListPrice</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
