@{
    ViewBag.Title = "سیستم مدیریت رویداد";
}
<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <h3> مدیریت رویدادهای علمی، فرهنگی و شخصی خود را به مابسپارید. </h3>
    <p>اجاره مکان مناسب و پذیرایی ویژه از مهمان های شما</p>
    <p class="lead">درخواست شما برای برگزاری رویدادهای زیر امکان پذیر است: </p>
    <table style="width:700px">
        <tr>
            <th> جشن ها </th>
            <th> سالگرد و یادبود  </th>
            <th> علمی</th>
        </tr>
        <tr>
            <td>جشن عروسی </td>
            <td> مراسم یادبود</td>
            <td> کارگاه آموزشی</td>

        </tr>
        <tr>
            <td> جشن تولد</td>
            <td>مراسم سالگرد </td>
            <td>کنفرانس علمی </td>


            
        </tr>
        <tr>
            <td> جشن فارغ التحصیلی</td>
            <td> مراسم نکوداشت</td>
            <td> سمینار</td>
        </tr>

    </table>
 </div>
<div class="row text-center">
    <div class="col-md-4">
        <h4>برنامه سالن ها</h4>

    </div>
    <div class="col-md-4">
        <h4>انواع پذیرایی</h4>

    </div>

    <div class="col-md-4">
        <h4>قوانین</h4>
    </div>
</div>