@{
    ViewBag.Title = "مدیریت رویداد ";
}

<div class="jumbotron">
    <h3>  به سیستم مدیریت رویداد آسان خوش آمدید.  </h3>
    <p>مدیریت انواع رویدادهای علمی، فرهنگی و شخصی </p>
</div>

<div class="row text-center" >
    <div class="col-md-4">
        <h4>اخبار</h4>

    </div>
    <div class="col-md-4">
        <h4>ثبت نام</h4>

    </div>
    <div class="col-md-4">
        <h4>رزرو مکان</h4>

    </div>
    
</div>